@font-face {
    font-family:'Rio_Oro_Bold';
    src:url("font/Rio_Oro_Bold.eot") format("eot"),url("font/Rio_Oro_Bold.woff") format("woff"),url("font/Rio_Oro_Bold.ttf") format("truetype"),url("font/Rio_Oro_Bold.svg#RioOro-Bold") format("svg");
    font-weight:normal;
    font-style:normal;
}

*
{
    --color_brown : #932B04;
    --color_brown-clear : #963816;
    --color_yellow : #E1A101;
    --color_cream : #D0B69F;
    margin: 0;
    padding: 0;
}

.rio_font
{
    font-family: 'Rio_Oro_Bold';
}

.center
{
    justify-content: center;
    align-items: center;
    display: flex;
}

.card_display
{
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 350px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.card_background
{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.text-box:nth-child(2n) .card_background
{
    background-image: url("image/card_bg.png");
}

.text-box:nth-child(2n+1) .card_background
{
    background-image: url("image/card_bg_dark.png");
}

.card_img_box
{
    height: 260px;
    width: 260px;
    position: relative;
}

.card_img
{
    position: absolute;
    height: 260px;
    width: 260px; 
    border-radius: 0.2rem;
    left: 0px;
    top: 0px;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.text-box:nth-child(2n) .card_img
{
    border: var(--color_brown) double thick;
}

.text-box:nth-child(2n+1) .card_img
{
    border: var(--color_yellow) double thick;
}

.hidden
{
    opacity: 0 !important;
}

.card_name
{
    font-size: 1.7rem;
    margin: 0;
    margin-top: 0.8em;  
    border-radius: 00.2rem;
    text-align: center;
    width: 300px;
    border-top: black double thick;
    border-bottom: black double thick;
    color: black;
}


.card_title
{
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.text-box:nth-child(2n) .card_title
{
    color: var(--color_brown);
}

.text-box:nth-child(2n+1) .card_title
{
    color: var(--color_yellow);
}

.line
{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width : 767px){
    .title_img_left{
        display: none;
    }

    .title_img_right
    {
        display: none;
    }
}

@media (min-width: 768px) and (max-width : 1023px){
    .bureau .title_img_left{
        position: absolute;
        width: 140px;
        top: -20px;
        left: 5%;
    }
    
    .bureau .title_img_right{
        position: absolute;
        transform: rotate(15deg);
        width: 130px;
        top: -10px;
        right: 5%;
    }

    .trez .title_img_left{
        position: absolute;
        width: 140px;
        top: 10px;
        left: 4%;
    }

    .trez .title_img_right{
        position: absolute;
        width: 130px;
        top: -45px;
        right: 5%;
    }

    .pole-com .title_img_left{
        position: absolute;
        width: 140px;
        top: -10px;
        left: 5%;
    }

    .pole-com .title_img_right{
        position: absolute;
        transform: rotate(-10deg);
        width: 100px;
        top: -2px;
        right: 5%;
    }

    .pole-event .title_img_left{
        position: absolute;
        width: 140px;
        top: -20px;
        left: 5%;
    }

    .pole-event .title_img_right{
        position: absolute;
        width: 120px;
        top: -100px;
        right: 5%;
    }

    .pole-part .title_img_left{
        position: absolute;
        width: 120px;
        top: -100px;
        left: 5%;
    }

    .pole-part .title_img_right{
        position: absolute;
        transform: rotateY(180deg);
        width: 200px;
        top: -15px;
        right: 5%;
    }
}

@media (min-width: 1024px){
    .bureau .title_img_left{
        position: absolute;
        width: 140px;
        top: -20px;
        left: 10%;
    }

    .bureau .title_img_right{
        position: absolute;
        transform: rotate(15deg);
        width: 130px;
        top: -10px;
        right: 10%;
    }

    .trez .title_img_left{
        position: absolute;
        width: 140px;
        top: 10px;
        left: 10%;
    }

    .trez .title_img_right{
        position: absolute;
        width: 130px;
        top: -45px;
        right: 10%;
    }

    .pole-com .title_img_left{
        position: absolute;
        width: 140px;
        top: -10px;
        left: 10%;
    }

    .pole-com .title_img_right{
        position: absolute;
        transform: rotate(-10deg);
        width: 100px;
        top: -2px;
        right: 10%;
    }

    .pole-event .title_img_left{
        position: absolute;
        width: 140px;
        top: -20px;
        left: 10%;
    }

    .pole-event .title_img_right{
        position: absolute;
        width: 100px;
        top: -15px;
        right: 10%;
    }

    .pole-part .title_img_left{
        position: absolute;
        width: 120px;
        top: -100px;
        left: 10%;
    }

    .pole-part .title_img_right{
        position: absolute;
        transform: rotateY(180deg);
        width: 200px;
        top: -15px;
        right: 10%;
    }
}