*
{
    --color_brown : #932B04;
    --color_brown-clear : #963816;
    --color_yellow : #E1A101;
    --color_cream : #cfa682;
    --color_dark_cream : #91643c;
    --color_sign : #784421;
    --color_silver : #cccccc;
    margin: 0;
    padding: 0;
}

body
{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color_cream);
}

#personalBest
{
    position: absolute;
    top: 100px;
    z-index: 1;
}

.westjump-container
{
    display: flex;
    justify-content: center;
    min-height: 90vh;
    position: relative;
}

.westjump
{
    position: relative;
}

@media (min-width: 500px) and (min-height: 700px)
{
    .westjump
    {
        border: 20px solid transparent;
        border-image: url("image/cadre.png") 84;
        width: 440px;
        height: 640px;
        margin-top: 50px;
    }
}

@media (min-height: 700px)
{
    .westjump
    {
        margin-top: 30px;
    }
}

@media (min-width: 500px) and (max-height: 699px)
{
    .westjump
    {
        width: 100%;
        max-width: 400px;
        max-height: 600px;
    }
}

@media (max-width: 499px)
{
    .westjump-container
    {
        width: 100%;
        height: max-content;
    }

    .westjump
    {
        width: 100%;
        max-width: 400px;
        max-height: 600px;
    }
}
