*
{
    --color_brown : #932B04;
    --color_brown-clear : #963816;
    --color_yellow : #E1A101;
    --color_cream : #D0B69F;
    --color_dark_cream : #91643c;
    --color_sign : #784421;
    --color_silver : #cccccc;
    margin: 0;
    padding: 0;
}

html
{
    height: 100%;
    overflow: hidden;
}

body
{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color_cream);
}

