@font-face {
    font-family:'Rio_Oro_Bold';
    src:url("font/Rio_Oro_Bold.eot") format("eot"),url("font/Rio_Oro_Bold.woff") format("woff"),url("font/Rio_Oro_Bold.ttf") format("truetype"),url("font/Rio_Oro_Bold.svg#RioOro-Bold") format("svg");
    font-weight:normal;
    font-style:normal;
}

*
{
    --color_brown : #932B04;
    --color_brown-clear : #963816;
    --color_yellow : #E1A101;
    --color_cream : #D0B69F;
    --color_sign : #784421;
    margin: 0;
    padding: 0;
}

.nav
{
    flex-wrap: nowrap;
}

.bg-brown
{
    background-color: var(--color_brown);
}

.bg-gold
{
    background-color: var(--color_yellow);
}

.bg-cream
{
    background-color: var(--color_cream);
}

.nav-link
{
    color: white;
}

.nav-link:hover
{
    color: var(--color_yellow);
}

.nav-title
{
    font-family: Rio_Oro_Bold;
    font-size: 2rem;
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
}

.jumbotron
{
    background-image: url("image/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0rem 0rem;
}

.logo-img
{
    width: 70%;
}

.text-box:nth-child(2n)
{
    background-color: var(--color_cream);
}

.text-box:nth-child(2n+1)
{
    background-color: var(--color_brown-clear);
}

.text-box:nth-child(n+2)
{
    border-top: var(--color_yellow) solid 0.5rem;
}

.text-box
{
    padding-top: 0.5rem;
}

.text-title
{
    text-align: center;
    font-family: Rio_Oro_Bold;
    font-size: 5rem;
    background-image: url("image/planche.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.text-content
{
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
}

.credit-name
{
    color: white;
    padding: 2rem;
    margin: 0;
    text-align: center;
}