@font-face {
    font-family:'Rio_Oro_Bold';
    src:url("font/Rio_Oro_Bold.eot") format("eot"),url("font/Rio_Oro_Bold.woff") format("woff"),url("font/Rio_Oro_Bold.ttf") format("truetype"),url("font/Rio_Oro_Bold.svg#RioOro-Bold") format("svg");
    font-weight:normal;
    font-style:normal;
    
}

@font-face {
    font-family: 'Alphakind';
    font-style: normal;
    font-weight: 400;
    src: local('Alphakind'), url('https://fonts.cdnfonts.com/s/47624/Alphakind-X3Waa.woff') format('woff');
}


*
{
    --color_brown : #932B04;
    --color_brown-clear : #963816;
    --color_yellow : #E1A101;
    --color_cream : #cfa682;
    --color_dark_cream : #91643c;
    --color_footer : #614328;
    --color_sign : #784421;
    --color_silver : #cccccc;
    margin: 0;
    padding: 0;
}

p.event a
{
    color: inherit;
}

p.event a:visited
{
    color: inherit;
}

p.event a:hover
{
    font-style: none;
    text-decoration: none;
}

html
{
    scroll-behavior: smooth;
    height: 100%;
}

body
{
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.footer
{
    position: relative;
    grid-row-start: 2;
    grid-row-end: 3;
}

.nav
{
    flex-wrap: nowrap;
}

.bg-brown
{
    background-color: var(--color_brown);
}

.bg-gold
{
    background-color: var(--color_yellow);
}

.bg-cream
{
    background-color: var(--color_cream);
}

.bg-footer
{
    background-color: var(--color_footer);
}

.nav-link
{
    color: var(--color_silver);
}

.nav-link:hover
{
    color: var(--color_yellow);
}

.nav-title
{
    font-family: Rio_Oro_Bold;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    font-size: 2rem;
    color: var(--color_silver)!important;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
    transition: all ease-out 0.13s;
}

.nav-title:hover
{
    text-shadow: black -1px 1px, black -2px 2px, black -3px 3px;
    transform: translate3d(3px,-3px,0);
}

.nav-item
{
    display: flex;
    flex-direction: row !important;
    width: fit-content;
}

.rev
{
    position: relative;
    left: -8px;
    top: 5px;
    height: 2rem;
    width: fit-content;
}

.rev-r
{
    position: relative;
    left: 8px;
    top: 5px;
    height: 2rem;
    width: fit-content;
    transform: rotateY(180deg);
}

.rev-img
{
    height: 0rem;
    transform: rotate(-360deg);
    transition: linear 0.13s;
    transition-property: all;
    
}

.rev-r-img
{
    height: 0rem;
    transform: rotate(-360deg);
    transition: ease-out 0.13s;
    transition-property: all;
    
}

@media (hover: hover)
{
    .nav-item:hover .rev-img
    {
        height: 2rem;
        transform: rotate(0deg);
        display: initial;
        margin: 0 0.2rem;
    }
    
    .nav-item:hover .rev-r-img
    {
        height: 2rem;
        transform: rotate(0deg);
        display: initial;
        margin: 0 0.2rem;
    }
}

.net-icon-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.net-icon
{
    height: 40px;
    margin: 0px 5px;
    transition: ease-out 0.2s;
    transition-property: all;
}

@media (hover: hover)
{
    .net-icon:hover
    {
        transform: scale(1.1);
    }
}

@media (max-width: 767px)
{
    .icons
    {
        width: 100% !important;
    }

    .net-icon
    {
        height: 60px;
    }
}

.jumbotron
{
    background-image: url("image/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0rem 0rem;
}

.jumbotron-border
{
    border-bottom-right-radius: 50% 8%;
    border-bottom-left-radius: 50% 8%;
}

.logo-img
{
    width: 70%;
}

.bg-fond
{
    background-image: url("image/fond.png");
    background-repeat: repeat;
    background-position-x: center;
    transition: background-image ease-in-out 0.5s;
}

.bg-fond_nuit
{
    background-image: url("image/fond-nuit.png");
}

.banner
{
    background-color: #a16635;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 30px;
    border-top: var(--color_sign) 8px solid;
    border-bottom: var(--color_sign) 8px solid;
    border-right: var(--color_sign) 6px solid;
    border-left: var(--color_sign) 6px solid;
    border-radius: 8px;
}

.banner-title
{
    position: relative;
    text-align: center;
    font-family: Rio_Oro_Bold;
    font-size: 3rem;
    color: var(--color_silver);
}

.text-box
{
    padding-top: 0.5rem;
}

.text-border
{
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
}

.text-title
{
    position: relative;
    text-align: center;
    color: var(--color_silver);
    font-family: Rio_Oro_Bold;
    font-size: 5rem;
    background-color: var(--color_sign);
    border-radius: 20px;
    border: black solid 2px;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.text-content
{
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
    text-align: justify;
    font-size: 1.1rem;
    font-family: 'Alphakind', sans-serif;
}

.center
{
    text-align: center !important;
}

@media (min-width : 768px)
{

    .video-container
    {
        width: 100%;
        padding-bottom: 57.85%;
        position: relative;
    }

    .youtube-video
    {
        border: 20px solid transparent;
        border-image: url("image/cadre.png") 84;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width : 767px)
{
    .video-container
    {
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;
    }

    .youtube-video
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.margin-vid
{
    margin-bottom: 1rem;
}

.credit-name
{
    color: white;
    padding: 2rem;
    margin: 0;
    text-align: center;
}

.part_banner
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.part_logo
{
    height: 10%;
    width: 10%;
}

.more-button
{
    background-image: url("image/dir-sign.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: cubic-bezier(.67,1.95,.74,1) 0.3s;
    transform-origin: top center;
}

.more-button-link
{
    text-decoration: none;
    font-family: Rio_Oro_Bold;
    font-size: 2rem;
    color: var(--color_silver);
    width: 300px;
    height: 100px;
}

.more-button-link:hover
{
    text-decoration: none;
    color: var(--color_silver);
}

.more-button-title
{
    display: flex;
    margin-top: 30px;
    margin-right: 20px;
    justify-content: center;
}

@media (hover: hover)
{
    .more-button:hover
    {
        transform: rotate(-5deg);
    }
}

.miniature-container
{
    margin: 1rem 0rem;
}

.miniature
{
    width: 400px;
    border: 20px solid transparent;
    border-image: url("image/cadre.png") 84;
    transition: transform ease-out 0.2s;
}

@media (hover : hover)
{
    .miniature:hover
    {
        transform: scale(1.03);
    }
}

.dd-title
{
    background-image: url('image/dd-background.png');
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
    padding-bottom: 30px;
    background-size: contain;
}

.konami_page
{
    position: relative;
}

#warning_message
{
    margin: 20% 0;
    z-index: 1;
    transition: opacity linear 0.4s;
}

.w_button
{
    width: 200px;
    height: 50px;
    font-family: 'Alphakind', sans-serif ; 
    border-radius: 10px;
    outline: none !important;
    -webkit-appearance: none;
    transition: all ease-in-out 0.2s;
    margin: 10px;
}

.w_button:active
{
    transform: scale(1.05);
}

#green_button
{
    background-color: #538d22;
    border: solid #245501 3px;
}

#red_button
{
    background-color: #c70512;
    border: solid #9f040e 3px;
}

#konami_video
{
    margin-top: 1rem;
    transition: opacity linear 0.4s;
    opacity: 1;
}

.hidden
{
    display: none;
}

.transparent
{
    opacity: 0 !important;
}

#highscoresTable {
    margin: 0 !important;
    padding: 0;
    justify-content: center;
    justify-items: center;
    font-family: 'Rio_Oro_Bold';
    color: var(--color_silver);
}

#highscores
{
    height: 350px;
    width: 350px;
    background-image: url('image/highscore.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
}

.table td, .table th {
    padding: .5rem 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    font-size: 1.2rem;
}

.secret
{
    color: var(--color_footer);
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
<<<<<<< HEAD
}

#charlie
{
    width: 50px;
    height: 50px;
    z-index: 1;
}
=======
}
>>>>>>> 1cd6c67b93bf1296fc1e8d5989e07b3563285bef
